workflows/stock/7chdGLZzsi1VouHY.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dingTalkParams": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "dingTalkParams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-04T00:42:30.845Z",
  "id": "7chdGLZzsi1VouHY",
  "isArchived": false,
  "meta": null,
  "name": "tdx",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bd4e4095-7011-4edb-ada9-22ca074f7239",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "329aa848-2e4b-4eaf-98ef-5d7dee1ffcfe",
      "name": "Webhook",
      "webhookId": "bd4e4095-7011-4edb-ada9-22ca074f7239"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a2ea7b4-80b1-4d6b-9e5a-67e15daac4c7",
              "name": "secret",
              "value": "SECbe3a4719d249322bca15d9c9334a80200520b9d7e0d68f9ba59f84122c418901",
              "type": "string"
            },
            {
              "id": "9da5dfd0-60aa-4a66-99e3-589ab597de44",
              "name": "access_token",
              "value": "23c21e66a34a0e6ef959322562d4a996e1c29ac8abb3dfe760826d38f3b51d7d",
              "type": "string"
            },
            {
              "id": "156e78e6-dc64-413c-b9e8-5f370b048e85",
              "name": "message_title",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d96ea659-2e8d-4cc7-9818-cb13c33c97dc",
              "name": "message_text",
              "value": "=#### {{ $json.name }} ({{ $json.code }})\n- **最新价**: ¥{{ $json.price }}\n- **涨幅**: {{ $json.percentage }}\n- **现量**: {{ $json.volume }}\n- **信号时间**: {{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "9db95aa0-b97c-46bb-ae69-72483e8c74f2",
      "name": "dingTalkParams"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 你使用 crypto 模块的代码会写在这里\n// 例如，创建一个时间戳并对其签名：\nconst secret = '你的密钥'; // 替换成你的真实密钥，或者从凭据中获取\nconst timestamp = String(Date.now()); // 或者 Math.round(new Date().getTime())\nconst stringToSign = `${timestamp}\\n${secret}`;\n\nconst sign = crypto\n  .createHmac('sha256', secret)\n  .update(stringToSign)\n  .digest('base64'); // 你可能还需要 encodeURIComponent(sign)\n\n// 将结果添加到 item 中，以便后续节点使用\nitem.timestamp = timestamp;\nitem.calculatedSign = sign; // 确保下游节点期望的输出变量名是这个\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "7855866a-d793-45e8-97ea-dc07088b0921",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "4c0c8544-ecd2-4fe3-bc6b-658b2b61d937",
      "name": "Split Out"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1.eco.us.kg",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "1790",
            "x-forwarded-for": "118.141.127.71",
            "x-forwarded-proto": "https",
            "x-envoy-original-host": "n8n-1.eco.us.kg",
            "x-envoy-external-address": "118.141.127.71",
            "x-request-id": "b5a0525b-734f-4a1e-a02e-ffe51693ba37",
            "x-envoy-decorator-operation": "n8n-ucexunnk.ns-ajmyzw7y.svc.cluster.local:5678/()(.*).*",
            "x-envoy-attempt-count": "1",
            "req-start-time": "1749040821766",
            "x-real-ip": "118.141.127.71",
            "x-envoy-route-identifier": "true"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "code": "300570",
              "name": "太辰光",
              "timestamp": "2025-06-04 11:33",
              "price": 77.73,
              "percentage": "14.14%",
              "volume": 9,
              "description": "竞价弱转强"
            },
            {
              "code": "603228",
              "name": "景旺电子",
              "timestamp": "2025-06-04 11:30",
              "price": 33.02,
              "percentage": "5.43%",
              "volume": 10,
              "description": "竞价弱转强"
            },
            {
              "code": "300163",
              "name": "先锋新材",
              "timestamp": "2025-06-04 11:28",
              "price": 4.26,
              "percentage": "16.71%",
              "volume": 4,
              "description": "竞价弱转强"
            },
            {
              "code": "300502",
              "name": "新易盛",
              "timestamp": "2025-06-04 11:28",
              "price": 91.52,
              "percentage": "5.97%",
              "volume": 14,
              "description": "竞价弱转强"
            },
            {
              "code": "300949",
              "name": "奥雅股份",
              "timestamp": "2025-06-04 11:27",
              "price": 46.68,
              "percentage": "20.00%",
              "volume": 9,
              "description": "竞价弱转强"
            },
            {
              "code": "301608",
              "name": "博实结",
              "timestamp": "2025-06-04 11:27",
              "price": 89.82,
              "percentage": "9.86%",
              "volume": 3,
              "description": "竞价弱转强"
            },
            {
              "code": "600684",
              "name": "珠江股份",
              "timestamp": "2025-06-04 11:26",
              "price": 4.09,
              "percentage": "9.95%",
              "volume": 1,
              "description": "竞价弱转强"
            },
            {
              "code": "603023",
              "name": "威帝股份",
              "timestamp": "2025-06-04 11:26",
              "price": 4.05,
              "percentage": "10.05%",
              "volume": 11,
              "description": "竞价弱转强"
            },
            {
              "code": "603699",
              "name": "纽威股份",
              "timestamp": "2025-06-04 11:25",
              "price": 33.33,
              "percentage": "4.81%",
              "volume": 30,
              "description": "竞价弱转强"
            },
            {
              "code": "002055",
              "name": "得润电子",
              "timestamp": "2025-06-04 11:24",
              "price": 6.73,
              "percentage": "9.97%",
              "volume": 60,
              "description": "竞价弱转强"
            },
            {
              "code": "002773",
              "name": "康弘药业",
              "timestamp": "2025-06-04 11:23",
              "price": 31.34,
              "percentage": "0.42%",
              "volume": 28,
              "description": "竞价弱转强"
            }
          ],
          "webhookUrl": "https://n8n-1.eco.us.kg/webhook-test/bd4e4095-7011-4edb-ada9-22ca074f7239",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-04T03:36:28.505Z",
      "updatedAt": "2025-06-04T03:36:28.505Z",
      "id": "0DAOYDDyH3iX5BbU",
      "name": "stock"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-04T12:52:42.000Z",
  "versionId": "4bf26467-a724-4556-b26d-efbd6328b3cd"
}