workflows/stock/wZ2sGn9hlGfxOrTJ.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dingTalkParams": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "dingTalkParams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-04T14:00:18.460Z",
  "id": "wZ2sGn9hlGfxOrTJ",
  "isArchived": false,
  "meta": null,
  "name": "通达信T0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5e43fe15-2506-40c3-8027-d5c3a2e0f3c8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6dcaefdc-58e6-48aa-8c5d-2b114925643f",
      "name": "Webhook",
      "webhookId": "5e43fe15-2506-40c3-8027-d5c3a2e0f3c8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a2ea7b4-80b1-4d6b-9e5a-67e15daac4c7",
              "name": "secret",
              "value": "SEC4936076d2dde4fb9e398d21c8ff62a6bd804219c3ec00c857a4993728640b756",
              "type": "string"
            },
            {
              "id": "9da5dfd0-60aa-4a66-99e3-589ab597de44",
              "name": "access_token",
              "value": "1ee9e95c6b5db8740791ba25c2adb76269656f066da7da3cb84530a9b07a8320",
              "type": "string"
            },
            {
              "id": "156e78e6-dc64-413c-b9e8-5f370b048e85",
              "name": "message_title",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d96ea659-2e8d-4cc7-9818-cb13c33c97dc",
              "name": "message_text",
              "value": "=## \n#### {{ $json.name }} ({{ $json.code }})\n- **最新价**: ¥{{ $json.price }}\n- **涨幅**: {{ $json.percentage }}\n- **现量**: {{ $json.volume }}\n- **信号时间**: {{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "6c9f5f1a-8a04-4ea8-bccb-01b214dfacd5",
      "name": "dingTalkParams"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 确保已设置 NODE_FUNCTION_ALLOW_BUILTIN=crypto 环境变量\nconst crypto = require('crypto');\n\n// --- 配置区域 ---\n// 强烈建议使用 n8n 的凭据 (Credentials) 或环境变量来存储你的密钥和 Access Token\n// 获取方式示例 (优先级：特定凭据 > 环境变量 > 硬编码的默认值)\n\n// 1. 钉钉机器人的密钥 (Secret)\n//    请替换 'YOUR_DINGTALK_CREDENTIAL_NAME' 为你创建的包含密钥的凭据名称\n//    或者设置名为 DINGTALK_SECRET 的环境变量\nlet DINGTALK_SECRET;\nDINGTALK_SECRET = $json.secret; // 仅作示例，强烈建议删除此行或确保其安全\n\n\n// 2. 钉钉机器人的 Access Token\n//    请替换 'YOUR_DINGTALK_CREDENTIAL_NAME' (如果和上面是同一个凭据)\n//    或者设置名为 DINGTALK_ACCESS_TOKEN 的环境变量\nlet DINGTALK_ACCESS_TOKEN;\nDINGTALK_ACCESS_TOKEN = $json.access_token;\n\n// --- 配置区域结束 ---\n\n// 获取当前正在被处理的单个数据项\nconst item = $input.item;\n\n// 1. 从当前输入项 (item.json) 中提取用于生成消息的数据\n//    你需要根据你的实际输入数据结构来调整这里的字段名\nconst messageTitle = $json.message_title;\nconst messageText = $json.message_text;\n\n// 2. 生成时间戳 (毫秒)\nconst timestamp = String(Date.now());\n\n// 3. 计算签名\nconst stringToSign = `${timestamp}\\n${DINGTALK_SECRET}`;\nconst hmac = crypto.createHmac('sha256', DINGTALK_SECRET);\nhmac.update(stringToSign, 'utf-8');\nconst base64EncodedSign = hmac.digest('base64');\nconst sign = encodeURIComponent(base64EncodedSign);\n\n// 4. 构建钉钉 Webhook URL (包含签名)\nconst webhookUrl = `https://oapi.dingtalk.com/robot/send?access_token=${DINGTALK_ACCESS_TOKEN}&timestamp=${timestamp}&sign=${sign}`;\n\n// 5. 构建钉钉消息体 (Markdown 格式)\nconst messageBody = {\n  msgtype: \"markdown\",\n  markdown: {\n    title: messageTitle,\n    text: messageText\n  }\n};\n\n// 6. 将准备好的 URL 和消息体添加到当前项目的 JSON 数据中\n//    这些字段可以在后续的 HTTP Request 节点中使用\nitem.json.preparedDingTalkUrl = webhookUrl;\nitem.json.preparedDingTalkBody = messageBody;\n\n// （可选）也可以添加时间戳和签名本身，用于调试或记录\nitem.json.debug_dingTalkTimestamp = timestamp;\nitem.json.debug_dingTalkSign = sign;\n\n// 返回修改后的当前单个数据项\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "4af4c7d4-cfbc-4f3f-a75d-ed9d5fdfe037",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "c45c6796-4d06-47b7-a89a-0410b1879f7a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.preparedDingTalkUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.preparedDingTalkBody }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "id": "7b04491f-d2bd-49fc-870c-a5efe9e58596",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bc13504-821a-4a55-a802-57be60315115",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "f86fc335-1cda-4f45-a589-5f8af2d17c78",
      "name": "If"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1.eco.us.kg",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "1790",
            "x-forwarded-for": "118.141.127.71",
            "x-forwarded-proto": "https",
            "x-envoy-original-host": "n8n-1.eco.us.kg",
            "x-envoy-external-address": "118.141.127.71",
            "x-request-id": "b5a0525b-734f-4a1e-a02e-ffe51693ba37",
            "x-envoy-decorator-operation": "n8n-ucexunnk.ns-ajmyzw7y.svc.cluster.local:5678/()(.*).*",
            "x-envoy-attempt-count": "1",
            "req-start-time": "1749040821766",
            "x-real-ip": "118.141.127.71",
            "x-envoy-route-identifier": "true"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "code": "300570",
              "name": "太辰光",
              "timestamp": "2025-06-04 11:33",
              "price": 77.73,
              "percentage": "14.14%",
              "volume": 9,
              "description": "竞价弱转强"
            },
            {
              "code": "603228",
              "name": "景旺电子",
              "timestamp": "2025-06-04 11:30",
              "price": 33.02,
              "percentage": "5.43%",
              "volume": 10,
              "description": "竞价弱转强"
            },
            {
              "code": "300163",
              "name": "先锋新材",
              "timestamp": "2025-06-04 11:28",
              "price": 4.26,
              "percentage": "16.71%",
              "volume": 4,
              "description": "竞价弱转强"
            },
            {
              "code": "300502",
              "name": "新易盛",
              "timestamp": "2025-06-04 11:28",
              "price": 91.52,
              "percentage": "5.97%",
              "volume": 14,
              "description": "竞价弱转强"
            },
            {
              "code": "300949",
              "name": "奥雅股份",
              "timestamp": "2025-06-04 11:27",
              "price": 46.68,
              "percentage": "20.00%",
              "volume": 9,
              "description": "竞价弱转强"
            },
            {
              "code": "301608",
              "name": "博实结",
              "timestamp": "2025-06-04 11:27",
              "price": 89.82,
              "percentage": "9.86%",
              "volume": 3,
              "description": "竞价弱转强"
            },
            {
              "code": "600684",
              "name": "珠江股份",
              "timestamp": "2025-06-04 11:26",
              "price": 4.09,
              "percentage": "9.95%",
              "volume": 1,
              "description": "竞价弱转强"
            },
            {
              "code": "603023",
              "name": "威帝股份",
              "timestamp": "2025-06-04 11:26",
              "price": 4.05,
              "percentage": "10.05%",
              "volume": 11,
              "description": "竞价弱转强"
            },
            {
              "code": "603699",
              "name": "纽威股份",
              "timestamp": "2025-06-04 11:25",
              "price": 33.33,
              "percentage": "4.81%",
              "volume": 30,
              "description": "竞价弱转强"
            },
            {
              "code": "002055",
              "name": "得润电子",
              "timestamp": "2025-06-04 11:24",
              "price": 6.73,
              "percentage": "9.97%",
              "volume": 60,
              "description": "竞价弱转强"
            },
            {
              "code": "002773",
              "name": "康弘药业",
              "timestamp": "2025-06-04 11:23",
              "price": 31.34,
              "percentage": "0.42%",
              "volume": 28,
              "description": "竞价弱转强"
            }
          ],
          "webhookUrl": "https://n8n-1.eco.us.kg/webhook-test/bd4e4095-7011-4edb-ada9-22ca074f7239",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-04T03:36:28.505Z",
      "updatedAt": "2025-06-04T03:36:28.505Z",
      "id": "0DAOYDDyH3iX5BbU",
      "name": "stock"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-05T01:37:46.000Z",
  "versionId": "7a65d725-0c58-43ad-a397-0f16110df7e6"
}